@using ClientPricingSystem.Core.Dtos
@model ClientDto
@{
    ViewBag.Title = "Clients";
}

@section scripts
{
    <script>
        $(() => {
            getClients();
            $('#clientSearch').on('keyup', () => {
                getClients();
            });

            $('#sortToggle').on("click", () => {
                toggleSortDirection();
            });

            $('#nameDDItem').on("click", () => {
                $('#dropdownSort').text($(event.target).text());
            });

            $('#addressDDItem').on("click", () => {
                $('#dropdownSort').text($(event.target).text());
            });

            $('#markupDDItem').on("click", () => {
                $('#dropdownSort').text($(event.target).text());
            });

            $('#clearDDItem').on("click", () => {
                $('#dropdownSort').text('Sort By');
            });

        });

        function getClients(sortDirection) {
            $.ajax({
                url: '@Url.Action("Search", "Client")',
                datatype: 'html',
                method: 'GET',
                data: { searchText: $('#clientSearch').val(), sortBy: $('#dropdownSort').text(), sortDirection: sortDirection },
                success: function (res) {
                    $('#tableClients').html('').html(res);
                },
                error: function (err) {
                    console.log('error');
                    console.log(err);
                }
            });
            }

        function toggleSortDirection() {
            var toggleIcon = $('#sortToggle').children();
            if (toggleIcon.hasClass("bi bi-sort-up"))
            {
                toggleIcon.removeClass("bi bi-sort-up");
                toggleIcon.addClass("bi bi-sort-down");
                var sortDirection = "desc";
                getClients(sortDirection);
            }
            else
            {
                toggleIcon.removeClass("bi bi-sort-down");
                toggleIcon.addClass("bi bi-sort-up");
                var sortDirection = "asc";
                getClients(sortDirection);
            }

        }
    </script>
}

<div class="row mt-3">
    <div class="col-12">
        <div class="card rounded-10">
            <div class="card-body">
                <!-- Title and Create Button -->
                <div class="row mt-3">
                    <div class="col-6">
                        <h4 class="card-title"> Clients </h4>
                    </div>
                    <div class="col-6 text-right">
                            <input class="btn btn-outline-success float-end" type="button" value="Create New Client" href="#" data-bs-toggle="modal" data-bs-target="#newClientModal" />
                    </div>
                </div>
                <!--  Search and Sort -->
                <div class="row mt-3">
                    <div class="col-6"> 
                        <div class="btn-group">
                            <input class="form-control mr-sm-2" type="search" id="clientSearch" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0 m-1" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <!--Dropdown-->
                            <div class="dropdown">
                                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownSort" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort by
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownSort">
                                    <button id="nameDDItem"    class="dropdown-item" type="button" href="#">Name</button>
                                    <button id="addressDDItem" class="dropdown-item" type="button" href="#">Address</button>
                                    <button id="markupDDItem"  class="dropdown-item" type="button" href="#">MarkupRate</button>
                                    <div class="dropdown-divider"></div>
                                    <button id="clearDDItem"  class="dropdown-item" type="button" href="#">Clear Sort</button>
                                </div>
                            </div>
                            <!--Sort Toggle-->
                            <button class="btn btn-outline-success" type="button" id="sortToggle">
                                    <i class="bi bi-sort-up"></i>
                                </button>
                        </div>
                    </div>
                </div>
                <div id="tableClients"></div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="newClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Client", FormMethod.Post))
                {
                    <span>@Html.LabelFor(m => m.Name)</span> @Html.TextBoxFor(m => m.Name) <br />
                    <span>@Html.LabelFor(m => m.Address)</span> @Html.TextBoxFor(m => m.Address)<br />
                    <span>@Html.LabelFor(m => m.MarkupRate)</span>@Html.EditorFor(m => m.MarkupRate)<br />

                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                }
               
            </div>
            
        </div>
    </div>
</div>
