@using ClientPricingSystem.Core.Dtos
@model ClientDto
@{
    ViewBag.Title = "Clients";
}

@section scripts
{
    <script>
        $(() => {
            getClients();

            $('#clientSearch').on('keyup', () => {
                getClients();
            });

            $('#sortToggle').on("click", () => {
                toggleSortDirection();
            });

            $('#nameDDItem').on("click", () => {
                $('#dropdownSort').text($(event.target).text());
            });

            $('#addressDDItem').on("click", () => {
                $('#dropdownSort').text($(event.target).text());
            });

            $('#markupDDItem').on("click", () => {
                $('#dropdownSort').text($(event.target).text());
            });

            $('#clearDDItem').on("click", () => {
                $('#dropdownSort').text('Sort By');
            });

            $('#newClientModal').on('show.bs.modal', function (event) {
                $("#newClientModal").prependTo("body");
            });

        });

        function getClients(sortDirection) {
            $.ajax({
                url: '@Url.Action("Search", "Client")',
                datatype: 'html',
                method: 'GET',
                data: { searchText: $('#clientSearch').val(), sortBy: $('#dropdownSort').text(), sortDirection: sortDirection },
                success: function (res) {
                    $('#tableClients').html('').html(res);
                },
                error: function (err) {
                    console.log('error');
                    console.log(err);
                }
            });
            }

        function toggleSortDirection() {
            var toggleIcon = $('#sortToggle').children();
            if (toggleIcon.hasClass("bi bi-sort-up"))
            {
                toggleIcon.removeClass("bi bi-sort-up");
                toggleIcon.addClass("bi bi-sort-down");
                var sortDirection = "desc";
                getClients(sortDirection);
            }
            else
            {
                toggleIcon.removeClass("bi bi-sort-down");
                toggleIcon.addClass("bi bi-sort-up");
                var sortDirection = "asc";
                getClients(sortDirection);
            }

        }

    </script>
}

<!-- Title and Create Button -->
<div class="row mt-3">
    <div class="col-6">
        <h1 class="card-title"> Clients </h1>
    </div>
    <div class="col-6 text-right">
        <input id="createbtn" class="btn btn-outline-success float-end" type="button" value="Create New Client" href="#" data-bs-toggle="modal" data-bs-target="#newClientModal" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!--  Search and Sort -->
                <div class="row mt-3">
                    <div class="col-6"> 
                        <div class="btn-group">
                            <input class="form-control mr-sm-2" type="search" id="clientSearch" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0 m-1" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <!--Dropdown-->
                            <div class="dropdown">
                                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownSort" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort by
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownSort">
                                    <button id="nameDDItem"    class="dropdown-item" type="button" href="#">Name</button>
                                    <button id="addressDDItem" class="dropdown-item" type="button" href="#">Address</button>
                                    <button id="markupDDItem"  class="dropdown-item" type="button" href="#">MarkupRate</button>
                                    <div class="dropdown-divider"></div>
                                    <button id="clearDDItem"  class="dropdown-item" type="button" href="#">Clear Sort</button>
                                </div>
                            </div>
                            <!--Sort Toggle-->
                            <button class="btn btn-outline-success" type="button" id="sortToggle">
                                <i class="bi bi-sort-up"></i>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="tableClients"></div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal" id="newClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Client", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>@Html.LabelFor(m => m.Name)</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", tabindex = 1})
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        <label>@Html.LabelFor(m => m.Address)</label>
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", tabindex = 2})
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                    <div class="form-group">
                        <label>@Html.LabelFor(m => m.MarkupRate)</label>
                        @Html.EditorFor(m => m.MarkupRate, new { htmlAttributes = new { @class = "form-control", tabindex = 3}})
                        @Html.ValidationMessageFor(m => m.MarkupRate)
                    </div>
                         <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>                    
                }
               
            </div>
            
        </div>
    </div>
</div>

<style>
    .modal-content {
        font-family: 'Titillium Web', sans-serif;
    }

    .modal-title {
        color: #000;
        font-size: 25px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 5px;
    }

        .modal-title:after {
            content: '';
            background-color: #00A9EF;
            height: 3px;
            width: 110px;
            margin: 5px 0 0;
            display: block;
            clear: both;
        }

    .modal-body .form-group {
        color: #333;
        width: auto;
        padding: 0 8px;
        margin: 0 0 15px;
    }

        .modal-body .form-group label {
            font-size: 18px;
            font-weight: 600px;
            font-style: bold;
        }

        .modal-body .form-group .form-control {
            background: #fff;
            font-weight: 400;
            letter-spacing: 1px;
            height: 40px;
            padding: 6px 12px;
            border-radius: 8px;
            border: 2px solid #e7e7e7;
            box-shadow: none;
        }
</style>