@using ClientPricingSystem.Core.Dtos
@model OrderDto

@using (Html.BeginForm("Create", "Order", FormMethod.Post, new { id = "createOrderForm"}))
{
    <span>@Html.LabelFor(m => m.ClientId)</span>
        @Html.DropDownListFor(m => m.ClientId, Model.Clients, "Select or create client...")<br>
    <span>@Html.LabelFor(m => m.ArtistFee)</span>
        @Html.TextBoxFor(m => m.ArtistFee)<br>

    <span>@Html.LabelFor(m => m.Items)</span><br>
    <table id="orderItemsTable">
        <thead>
            <tr>
                <th>Item ArticleQuantity</th>
                <th>Item Size</th>
                <th>Item VendorId</th>
                <th>Item Total</th>
            </tr>
        </thead>
        <tbody id="orderItems">
            <tr id ="item0_Row">
                <td>
                    <input data-val="true" data-val-required="The ArticleQuantity field is required." id="item0_ArticleQuantity" name="Item.ArticleQuantity" type="text" value="">
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Item.Size, Model.Sizes, "Select size...", new { id="item0_Size" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Item.VendorId, Model.Vendors, "Select vendor...", new { id="item0_VendorId"})
                </td>
                <td>
                    <input data-val="true" data-val-number="The field Total must be a number." data-val-required="The Total field is required." id="item0_Total" name="Item.Total" type="text" value="">
                </td>
            </tr>
        </tbody>
    </table>

    <input type="hidden" id="itemsJson" name="ItemsJson" value="" />
    <input id="Submit" type="submit" value="submit" onclick="" />
}

<input value="Add order item" id="addOrderItemButton" type="button" onclick="addOrderItemForm()">

@section scripts {
    <script type="text/javascript">
        var orderItemsTemplate;
        var itemInputsIndex;

        window.onload = (event) => {
            orderItemsTemplate = document.getElementById("orderItems").innerHTML;
            itemInputsIndex = 0;
        };

        addEventListener("submit", (event) => {
            var itemsJson = getOrderItems();
            document.getElementById("itemsJson").value = itemsJson;
        });
        
        function getOrderItems() {
            var itemsJson = "[";
            for (var i = 0; i <= itemInputsIndex; i++) {
                itemsJson += "{\"VendorId\": \"" + document.getElementById("item" + i + "_VendorId").value + "\", \"Size\": \"" + document.getElementById("item" + i + "_Size").value + "\", \"ArticleQuantity\": \"" + document.getElementById("item" + i + "_ArticleQuantity").value + "\", \"Total\": \"" + document.getElementById("item" + i + "_Total").value + "\"}";
                if (itemInputsIndex > 0) { 
                    itemsJson += ", ";
                }
            }
            itemsJson += "]";
            return itemsJson;
        }

        function addOrderItemForm() {
            itemInputsIndex++;
            
            let newInputRow = document.createElement('tr');
            newInputRow.id = "item"+itemInputsIndex+"_Row";
            newInputRow.innerHTML = createOrderItemFormHTML();

            var orderItemsContainer = document.getElementById("orderItems");
            orderItemsContainer.appendChild(newInputRow);

            console.log("current index: " + itemInputsIndex);
        }

        function removeOrderItem(buttonElement) {
            var indexToRemove = buttonElement.parentNode.parentNode.rowIndex;

            updateOrderItemInputIds(indexToRemove);

            document.getElementById("orderItemsTable").deleteRow(indexToRemove);

            updateOrderItemRowIds();

            itemInputsIndex--;
        }

        function updateOrderItemInputIds(indexToRemove) {
            if (indexToRemove-1 == itemInputsIndex) { 
                return;
            }

            for (var i = indexToRemove; i <= itemInputsIndex; i++) {
                var newRowId = (i-1).toString();
                document.getElementById("item" + i + "_VendorId").id = "item" + newRowId + "_VendorId";
                document.getElementById("item" + i + "_Size").id = "item" + newRowId + "_Size";
                document.getElementById("item" + i + "_Total").id = "item" + newRowId + "_Total";
                document.getElementById("item" + i + "_ArticleQuantity").id = "item" + newRowId + "_ArticleQuantity";
            }
        }

        function updateOrderItemRowIds() { 
            var itemRows = document.getElementById("orderItemsTable").rows;
            for (var i = 1; i < itemRows.length; i++) {
                var newRowId = (i - 1).toString();
                itemRows[i].id = "item" + newRowId + "_Row";
            }
        }

        function createOrderItemFormHTML() {
            var newItemInput_ArticleQuantityHTML =
                "<input data-val='true' data-val-required='The ArticleQuantity field is required.' id='item" + itemInputsIndex +
                "_ArticleQuantity' name='Item.ArticleQuantity' type='text' value=''>";

            var sizes = document.getElementById("item0_Size").options;
            var sizeOptionsHTML = "";
            for (var i = 0; i < sizes.length; i++) {
                sizeOptionsHTML += sizes[i].outerHTML;
            }
            var newItemInput_SizeHTML =
                "<select data-val='true' data-val-required='The Size field is required.' id='item" + itemInputsIndex + "_Size' name='Item.Size'>" +
                sizeOptionsHTML +
                "< /select>";

            var vendors = document.getElementById("item0_VendorId").options;
            var vendorOptionsHTML = "";
            for (var i = 0; i < vendors.length; i++) {
                vendorOptionsHTML += vendors[i].outerHTML;
            }
            var newItemInput_VendorHTML =
                "<select data-val='true' data-val-required='The Vendor field is required.' id='item" + itemInputsIndex + "_VendorId' name='Item.VendorId'>" +
                vendorOptionsHTML +
                "< /select>";

            var newItemInput_TotalHTML =
                "<input data-val='true' data-val-required='The ArticleQuantity field is required.' id='item" + itemInputsIndex +
                "_Total' name='Item.Total' type='text' value=''>";

            var newItemInput_RemoveButtonHTML = "<input value=\"remove item\" onclick=\"removeOrderItem(this)\" type=\"button\">";

            var newItemInput_FullHTML =
                "<td>" + newItemInput_ArticleQuantityHTML + "</td>" +
                "<td>" + newItemInput_SizeHTML + "</td>" +
                "<td>" + newItemInput_VendorHTML + "</td>" +
                "<td>" + newItemInput_TotalHTML + "</td>" +
                "<td>" + newItemInput_RemoveButtonHTML + "</td>";

            return newItemInput_FullHTML;
        }
    </script>
}